{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="section-content padding-y bg">
    <div class="container">

    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
                <article class="gallery-wrap">
                    <div class="img-big-wrap">
                        <div> <a href="#"><img src="{{ single_product.image.url }}" alt="Image"></a></div>
                    </div> 
                </article>
            </aside>

            <main class="col-md-6 border-left">
                <article class="content-body">
                    <h2 class="title">{{ single_product.product_name }}</h2>

                <div class="mb-3"> 
                    <var class="price h4">{{ single_product.price }}</var>
                </div>

                <p>{{ single_product.description }}</p>

                <hr>
                <div class="row">
                    <div class="item-option-select">
                        <h6>Colour</h6>
                        <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-light">
                                <input type="radio" name="radio_color" id="option1"> Blue
                            </label>
                            <label class="btn btn-light active">
                                <input type="radio" name="radio_color checked" id="option2"> White
                            </label>
                            <label class="btn btn-light">
                                <input type="radio" name="radio_color" id="option3"> Black
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="item-option-select">
                        <h6>Size</h6>
                        <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-light">
                                <input type="radio" name="radio_size" id="option1"> S
                            </label>
                            <label class="btn btn-light active">
                                <input type="radio" name="radio_size checked" id="option2"> M
                            </label>
                            <label class="btn btn-light">
                                <input type="radio" name="radio_size" id="option3"> L
                            </label>
                        </div>
                    </div>
                </div>
                <hr>
                {% if single_product.stock <= 0 %}
                    <h4 class="text-danger">Out of stock</h4>
                {% else %}
                <a href="#" class="btn btn-success"><i class="fa fa-shopping-cart"></i> Add to cart </a>
                {% endif %}
                </article>
            </main>
        </div>
    </div>

    <br>

    {% comment %} Product review section {% endcomment %}

    <div class="row">
        <div class="col-md-9">

            <header class="header-section">
                <h3>Reviews</h3>
            </header>

            <article class="box mb-3">
                <div class="w-100">
                    <img src="" alt="" class="float-left img-thumbnail">
                    <div class="text">
                        <span class="comment-date text-muted float-md-right">2014-01-01</span>
                        <h6 class="mt-0">John Doe</h6>

                    </div>
                </div>
                <div class="comment-body mt-3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam!</p>
                </div>
            </article>

        </div>
    </div>

    </div>
    </section>

        
{% endblock %}
```