{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Home{% endblock %}

{% block content %}

<!-- Main Section -->
<div class="main-section padding-y-sm">
    <div class="container mb-5">
        <div class="main-banner-wrap">
            <img src="{% static './images/banners/2.png' %}" alt="banner" class="img-fluid rounded">
        </div>
    </div>
</div>
<!-- Product Section -->
<div class="section-name padding-y-sm bg">
    <div class="container mb-5">

        <header class="section-heading">
            <a href="{% url 'products' %}" class="btn btn-outline-dark float-right">Discover More</a>
            <h3 class="section-title">Newest Arrivals</h3>
        </header>

        <div class="row">
            {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card card-product">
                    <div class="img-wrap">
                        <img src="{{ product.image.url }}" class="img-fluid product-image" alt="{{ product.product_name }}">
                    </div>
                    <div class="info-wrap">
                        <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
                        <div class="price mt-1">${{ product.price }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>




{% endblock %}