{% extends "base.html" %}
{% load static %}


{% block extra_title %}Dashboard{% endblock %}

{% block content %}


<section class="section-content bg">
    <div class="text-center">
        <h1>My dashboard</h1>
        <p>Welcome to your dashboard, {{ user.first_name }}!</p>
    </div>
    <div class="container">
        <div class="row">
            {% include 'includes/dashboard_list.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header card-header-custom">
                        <strong class="d-inline-block mr-3">Logged in as: {{user.full_name}} </strong>
                    </header>
                    <div class="card-body card-body-custom">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">My Total Orders</h5>
                                        <p class="card-text">You have placed a total of {{order_count}} orders.</p>
                                        <a href="{% url 'order_history' %}" class="btn btn-outline-dark">View Order History</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        {% if userprofile.profile_picture %}
                                        <img src="{{ userprofile.profile_picture.url }}" width="50" height="50"
                                            class="img-fluid mb-1" alt="Profile image" style="border-radius:50%;">
                                        {% else %}
                                        <img src="{% static 'images/avatars/img_avatar.png' %}" alt="Profile Picture"
                                            class="img-thumbnail" width="100" style="border-radius: 50px;">
                                        {% endif %}
                                        <p class="mb-0">{{user.email}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </main>
        </div>
    </div>
</section>

{% endblock %}